.knob__container {
  width: 8rem;
  padding-top: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.knob {
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1rem;
  border: 2px solid var(--color-light);
  border-radius: 50%;
  background-color: var(--color-dark);
}

.knob:before {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 6px;
  height: 6px;
  border: 1px solid var(--color-light);
  border-radius: 3px;
  background-color: var(--color-dark);
  content: '';
  margin-left: -2px;
  margin-top: 2px;
  user-select: none;
  pointer-events: none;
}

.knob__knob-value {
  width: 5rem;
  display: inline-block;
  padding: 0.3rem 0px 0px 0rem;
  font-size: 0.85rem;
  user-select: none;
}