.synth {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  background-color: var(--black);
  color: var(--color-light);
  border-radius: var(--radius-small);
}

.controls {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.controls__control {
  display: flex;
  flex-direction: column;
}

.controls input[type='number'] {
  padding-right: 0;
}

.controls label {
  padding-bottom: 0.3rem;
  user-select: none;
}

.controls button.button {
  border: 1px solid var(--gray200);
  color: var(--gray500);
}

.controls button.button:hover {
  border: 1px solid var(--gray300);
  color: var(--gray600);
}

.lcd {
  background-color: hsla(165, 29%, 57%, 1);
  color: var(--color-dark);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 1rem;
  border-radius: var(--radius-small);
}

#octave-input:invalid {
  border: 2px solid var(--error);
}